<div class="" [ngClass]="getBodyClass()">
    <app-navbar/>

    <div
    class="w-full h-[40vh] bg-gray-900 flex flex-col justify-center items-center"
  >
    <div>
      <span class="text center text-white font-semibold text-[3vh] md:text-[4vh] lg:text-[5vh]"
        >Documents</span
      >
    </div>
  </div>



  <div class="h-full overflow-y-auto bg-white p-6">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div
          *ngFor="let document of documents"
          class="bg-white shadow-md rounded-lg p-4 flex flex-col justify-between"
        >
          <div class="flex items-center space-x-4">
            <img
              [src]="getFileIcon(document.type)"
              [alt]="document.type + ' icon'"
              class="w-8 h-8"
            />
            <h2 class="text-xl font-semibold">{{ document.name }}</h2>
          </div>
          <div class=" text-sm font-light my-3">
              {{document.description}}
          </div>
          <p class="text-sm text-gray-600 mt-2">Size: {{ document.size }}</p>

          <div class="">
            <a [href]= "document.link" class="inline-flex font-medium items-center text-blue-600 hover:underline" target="_blank">
                Link
                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                </svg>
            </a>
        </div>
          <div class="mt-4">
            <a
              [href]="document.url"
              target="_blank"
              class="block text-center bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
            >
            Download
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

    <app-footer/>

</div>