.custom-bg {
    height: 40vh;
    /* display: flex; */
    /* align-items: center; */
    color: white;
    /* font-size: 2rem; */
    /* font-weight: bold; */
    background: 
      radial-gradient(circle at bottom center, #0327a1 -10%, transparent 57%), 
      linear-gradient(to right, #04142d, #04142d);
  }